@model  CittaErp.Models.vw_genlay

@{
    CittaErp.Models.vw_genlay glayhead = (CittaErp.Models.vw_genlay)ViewBag.x2;
    CittaErp.Models.psess psess = (CittaErp.Models.psess)Session["psess"];
    SelectList[] head_det = (SelectList[])Session["head_det"];
    string plabel = ViewBag.plabel;
    string cr_flag = ViewBag.action_flag;
    // string amt_check = psess.temp4.ToString();
    string curren_name = Model.vwstrarray2[0];
    string ptype = psess.temp0.ToString();
}

<div class="container-fluid">
    <div>
        <div align="left" class="col-sm-4">
            <a class="btn  btn-primary btn-default" style="width : 160px; display : inline-block" href="index">Back To List</a>
        </div>
        <div align="center" class="col-sm-4">
            <button type="submit" class="btn btn-success " style="width : 160px; display : inline" name="headtype" value="send_app">Send For Approval</button>
        </div>
        <div align="right" class="col-sm-4">
            @Html.ActionLink("Edit Batch Information", "EditHeader", "", new { @class = "btn btn-warning", @style = "color:white; width : 160px; display : inline-block" })
        </div>
    </div>
    <br />
    <br />
    <div class="well">
        <div class="">
            <div class="row row-height">
                <div class="col-sm-2 text-right">  @psess.temp2 </div>
                <div class="col-sm-2"> @Html.TextBoxFor(m => glayhead.vwstrarray1[0], new { @class = "" })</div>
                <div class="col-sm-2 text-right"> Document  Number</div>
                <div class="col-sm-2"> @Html.TextBoxFor(m => glayhead.vwstrarray1[1], new { @class = "" })</div>
                <div class="col-sm-2  text-right"> Manual Number</div>
                <div class="col-sm-1"> @Html.TextBoxFor(m => glayhead.vwstrarray1[2], new { @class = "" })</div>
            </div>
            <div class="row">
                <div class="col-sm-2  text-right"> Total Debit</div>
                <div class="col-sm-2"> @Html.TextBoxFor(m => glayhead.vwstrarray1[4], new { @class = "numformat" })</div>
                <div class="col-sm-2  text-right"> Total Credit</div>
                <div class="col-sm-2"> @Html.TextBoxFor(m => glayhead.vwstrarray1[5], new { @class = "numformat" })</div>
                <div class="col-sm-2  text-right"> Net Amount</div>
                <div class="col-sm-1"> @Html.TextBoxFor(m => glayhead.vwstrarray1[6], new { @class = "numformat" })</div>
            </div>
            <div class="row">
                @*<div class="col-sm-2  text-right"> Control Check</div>
                    <div class="col-sm-2"> @Html.TextBoxFor(m => glayhead.vwstrarray1[6], new { @class = "" })</div>*@
                <div class="col-sm-2  text-right"> Batch Description</div>
                <div class="col-sm-2"> @Html.TextBoxFor(m => glayhead.vwstrarray1[7], new { @class = "" })</div>

            </div>
        </div>
    </div>

    <div class="container-fluid">
        @if (cr_flag.IndexOf("Header") > 0)
        {
            <div id="head">
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1" data-toggle="tab">Batch Information</a></li>
                        <li><a href="#tab2" data-toggle="tab">Notes</a></li>
                    </ul>
                    <br />
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            <div class="row form-group">
                                <label for="email" class="col-sm-2 control-label">@psess.temp2</label>
                                <div class="col-sm-3">
                                    @Html.DropDownListFor(m => m.vwstrarray0[1], ViewBag.code as SelectList, "", new { @class = "form-control", id = "id_code", @required = "required" })

                                </div>
                            </div>

                            <div class="row form-group">
                                <label for="firstName" class="col-sm-2 control-label"> Manual Number </label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(m => m.vwstrarray0[0], new { @class = "form-control", @required = "required" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="col-sm-2 control-label">Batch Description</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(m => m.vwstrarray0[5], new { @class = "form-control" })

                                </div>
                                @Html.HiddenFor(m => m.vwstrarray0[5])
                            </div>

                            <div class="row form-group">
                                <label for="firstName" class="col-sm-2 control-label"> Period </label>
                                <div class="col-sm-4">
                                    @Html.DropDownListFor(m => m.vwstrarray0[2], ViewBag.month as SelectList, new { @class = "form-control", style = "width : 100px; display : inline", @required = "required" })
                                    &nbsp;&nbsp;&nbsp;
                                    @Html.DropDownListFor(m => m.vwstrarray0[3], new SelectList(ViewBag.year, "Value", "Text", @Model.vwstrarray0[3]), " ", new { @class = "form-control year", style = "width : 80px; display : inline", @required = "required" })
                                </div>
                            </div>
                        </div>

                        <!-- /.form-group -->
                        <div class="tab-pane" id="tab2">
                            <div class="row form-group">
                                <label for="Note" class="col-sm-2 control-label"> Note</label>
                                <div class="col-sm-5">
                                    @Html.TextAreaFor(m => m.vwstrarray0[4], new { @class = "form-control", rows = "6", cols = "200" })
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="col-sm-2 control-label">Documents</label>
                                <div class="col-sm-5">
                                    <input type="file" name="photofile" multiple />
                                </div>
                            </div>

                            @Html.Partial("_attachDoc")


                        </div>
                    </div>
                </div>
                <br />
                @if (ViewBag.action_flag == "Create")
                {
                    <div class="col-sm-9 col-sm-offset-1">
                        <button type="submit" class="btn btn-success " name="commandn" value="headsub">Create New Batch</button>
                        &nbsp;&nbsp;&nbsp;
                        <button type="reset" class="btn btnextra">Cancel</button>
                    </div>
                }
                @if (ViewBag.action_flag == "EditHeader")
                {
                    <div class="col-sm-9 col-sm-offset-3">
                        <button type="submit" class="btn btn-success" name="commandn" value="headsub">Update</button>
                    </div>
                }

            </div> <!-- /form -->
        }
        else
        {
            <div class="">
                <button type="button" class="btn btn-primary col-sm-offset-11" id="hide_details">Hide Entry Screen</button>
                <br />
                <button type="button" class="btn btn-primary col-sm-offset-11" id="submit">Show Entry Screen</button>
                <div class="tabbable" id="details">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#detail1" data-toggle="tab">Account</a></li>
                        <li><a href="#detail2" data-toggle="tab">Analysis</a></li>
                    </ul>
                    <br />
                    <div class="tab-content">
                        <div class="tab-pane active" id="detail1">

                            <div class="row form-group" id="id_price_group">
                                <label for="birthDate" class="col-sm-2 control-label"> Reference Number  </label>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(m => m.vwstring1, new { @class = "form-control " })
                                </div>
                            </div>
                            <div class="row form-group" id="id_price_group">
                                <label for="birthDate" class="col-sm-2 control-label"> Description  </label>
                                <div class="col-sm-5">
                                    @Html.TextBoxFor(m => m.vwstring2, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class=" row form-group" id="id_price_group">
                                <label for="birthDate" class="col-sm-2 control-label"> Transaction Date  </label>
                                <div class="col-sm-2">
                                    @Html.TextBoxFor(m => m.vwstring3, new { @class = "form-control datet", @id = "id_transdate" })
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="firstName" class="col-sm-2 control-label"> Transaction Type </label>
                                <div class="col-sm-3">
                                    @Html.DropDownListFor(m => m.vwstring4, ViewBag.type as SelectList, "", new { @class = "form-control", @id = "id_strantype" })
                                </div>
                            </div>
                            @*<div class="row form-group" id="id_price_group">
                                <label for="birthDate" class="col-sm-2 control-label">Contract Id</label>
                                <div class="col-sm-6">
                                    @Html.DropDownListFor(m => m.vwstring10, ViewBag.cid as SelectList, "Select", new { @class = "form-control " })
                                </div>
                            </div>*@

                            <div class="row form-group">
                                <label for="password" class="col-sm-2 control-label"> Posting Class </label>
                                <div class="col-sm-3">
                                    @Html.DropDownListFor(m => m.vwstring5, ViewBag.debit as SelectList, "Select", new { @class = "form-control", id = "id_atype" })
                                </div>
                            </div>
                            <div class="row form-group" id="id_price_group">
                                <label for="birthDate" class="col-sm-2 control-label">  Posting Code  </label>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(m => m.vwstring6, ViewBag.acode as SelectList, "", new { @class = "form-control ", id = "id_acode", style = "display:inline" })
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <div style="display:inline"> <strong>Current Balance :</strong> &nbsp;&nbsp; <span id="id_cbal"></span></div>
                                    @*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <div style="display:inline"> <strong>Expected Payment :</strong> &nbsp;&nbsp; <span id="id_cbal"></span></div>*@
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="email" class="col-sm-2 control-label">Currency </label>
                                <div class="col-sm-3">
                                    @Html.TextBox("curren_name", curren_name, new { @class = "form-control ", @disabled = "disabled" })
                                </div>
                                @Html.HiddenFor(m => m.vwstring7, new { @id = "id_hcuren" })
                            </div>
                            @*<div id="changer">
                                    <div class="row form-group">
                                        <label for="email" class="col-sm-2 control-label">Exchange Rate </label>
                                        <div class="col-sm-3">
                                            @Html.TextBoxFor(m => m.vwdecimal1, "{0:0.00}", new { @class = "form-control ", id = "id_rate"})
                                        </div>
                                        @Html.HiddenFor(m => m.vwstring10, new { @id = "fx_flag" })
                                    </div>
                                </div>*@

                            @if (Model.vwstring9 == "Y")
                            {
                                <div class=" row form-group">
                                    <label for="birthDate" class="col-sm-2 control-label"> Exchange Rate  </label>
                                    <div class="col-sm-2">
                                        @Html.TextBoxFor(m => m.vwdecimal1, new { @class = "form-control  cls_rate2", id = "id_rate" })
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class=" row form-group">
                                    <label for="birthDate" class="col-sm-2 control-label"> Exchange Rate  </label>
                                    <div class="col-sm-2">
                                        @Html.TextBox("wx_rate", Model.vwdecimal1, new { @class = "form-control  cls_rate2", id = "id_rate", @disabled = "disabled" })
                                    </div>
                                </div>
                                @Html.HiddenFor(m => m.vwdecimal1, new { id = "id_rate1", @class = "cls_rate2" })
                            }
                            <div class="row form-group">
                                <label for="birthDate" class="col-sm-2 control-label">  Amount </label>
                                <div class="col-sm-2">
                                    @Html.TextBoxFor(m => m.vwdecimal0, new { @class = "form-control numformat", style = "display : inline", maxlength = 10, id = "id_amt" })
                                </div>
                            </div>
                            <div id="id_base">
                                <div class="row form-group">
                                    <label for="birthDate" class="col-sm-2 control-label"> Base Amount   </label>
                                    <div class="col-sm-2">
                                        @Html.TextBoxFor(m => m.vwdecimal2, new { @class = "form-control numformat", id = "id_bamt", @readonly = "readonly" })
                                    </div>
                                    @Html.HiddenFor(m => m.vwdecimal2)
                                </div>
                            </div>
                            @Html.HiddenFor(m => m.vwint4)
                        </div> <!-- ./container -->

                        <div class="tab-pane" id="detail2">

                            @for (int wctr = 0; wctr < 10; wctr++)
                            {
                                if (head_det[wctr] != null)
                                {
                                    <div class="row form-group">
                                        <label class="col-sm-2 control-label"> @Model.vwstrarray5[wctr] </label>
                                        <div class="col-sm-3">
                                            @Html.DropDownListFor(m => m.vwstrarray6[wctr], head_det[wctr] as SelectList, "Select ", new { @class = "form-control" })
                                            @Html.HiddenFor(m => m.vwstrarray4[wctr])
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    @Html.HiddenFor(m => m.vwstrarray6[wctr])
                                }
                            }


                        </div>
                        <br />
                        @if (ViewBag.action_flag == "Create")
                        {
                            <div class="col-sm-9 col-sm-offset-3">
                                <button type="submit" class="btn btn-success " name="commandn" value="detailsub">Create New Entry</button>
                                &nbsp;&nbsp;&nbsp;
                                <button type="reset" class="btn btnextra">Cancel</button>
                            </div>
                        }
                        @if (ViewBag.action_flag == "EditDetails")
                        {
                            <div class="col-sm-9 col-sm-offset-3">
                                <button type="submit" class="btn btn-success" name="commandn" value="detailsub">Update Entry</button>
                                &nbsp;&nbsp;&nbsp;
                                <button type="reset" class="btn btnextra">Cancel</button>
                            </div>
                        }
                    </div>
                </div>
                <br />
                <hr />
                @Html.Partial("_list", (IEnumerable<CittaErp.Models.vw_genlay>)ViewBag.x1)
            </div>
        }
        @Html.HiddenFor(m => m.vwstring8, new { id = "id_transt" })
        @Html.HiddenFor(m => m.vwstring9, new { id = "id_editexch" })
    </div>
</div>
