@model IEnumerable<CittaErp.Models.vw_genlay >

@{
    ViewBag.Title = "Index";
}
@Html.Partial("menu")
<h3>@psess.temp1</h3>
@Html.ActionLink("Add New", "Create", "", new { @class = "btn btn-primary", @style = "color:white" })
    @Html.ValidationSummary(true)

<table class="myTable1 display" >
<thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>

    <tbody>
@foreach (var item in Model) {
    <tr>
         <td>
           @Html.DisplayFor(modelItem => item.vwstring0)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vwstring1)
        </td>
        <td>
            @Html.ActionLink("E", "Edit", new { jy = item.vwstring0, id2 = item.vwdecimal0.ToString() }, new { @class = "btn btn-warning btn-xs glyphicon glyphicon-pencil" })
        </td>
        <td><span class="btn btn-danger btn-xs deleteitem" data-keyg="@item.vwstring0"> <i class="glyphicon glyphicon-trash "></i> </span></td>

    </tr>
    }

</tbody>
</table>


@section Scripts {

<script>


</script>

}