@model  CittaErp.Models.vw_genlay
@{
    ViewBag.Title = "periodsel";
    ViewBag.action_flag = "Edit";
    string plabel = ViewBag.plabel;
}
}
@Html.Partial("menu")

<div class="container-fluid">
    <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
        @Html.ValidationSummary(true)

        <h3>Period Waiver Maintainance</h3>
        <button type="submit" name="coybtn" value="1" class="btn btn-success btn-default">Update</button>
        &nbsp;&nbsp;&nbsp;
        <button type="submit" name="coybtn" value="0" class="btn btnextra">Cancel</button>

        @Html.Partial("Prds")

        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
            </div>

        </div>
        @Html.HiddenFor(m => m.vwstring0)
        @Html.Hidden("id_xhrt", "K")
    </form>
</div>
<div id="loader1" data-request-ajax1="@Url.Action("pricehead_list")"></div>
<div id="loader2" data-request-ajax2="@Url.Action("pricehead_list2")"></div>
<div id="loader3" data-request-ajax3="@Url.Action("period_cal")"></div>
<div id="loader4" data-request-ajax4="@Url.Action("period_calp", "PeriodR")"></div>



@section Scripts {
    <script>

        $(document).ready(function () {
            var ppw = $("#ppw").val();
            var cppw = $("#cppw").val();
        alert(ppw);
        alert(cppw);
            if (cppw == "Y") {
                $("#codft").show();
                $("#popft").hide();
            }
            if (cppw == "N") {
                $("#codft").hide();
                $("#popft").hide();
            }
            if (ppw == "Y") {
                $("#codft").hide();
                $("#popft").show();
            }
            if (ppw == "N") {
                $("#codft").hide();
                $("#popft").hide();
            }
            var clear_field = ""
           
            $("#yes2").click(function () {
                $(".prd_shw").show();
                $(".cal_shw").hide();
            })

            $("#no2").click(function () {
                $(".prd_shw").hide();
                $(".cal_shw").show();
            })

            $("#cyes").click(function () {
                $("#codft").show();
                $("#popft").hide();
            })

            $("#cno").click(function () {
                $("#codft").hide();
                $("#popft").hide();
            })
            $("#pyes").click(function () {
                $("#codft").hide();
                $("#popft").show();
            })

            $("#pno").click(function () {
                $("#codft").hide();
                $("#popft").hide();
            })


            var prdcal = $("#prdcal").val();
            if ([prdcal == "P"]) {
                $(".prd_shw").show();
                $(".cal_shw").hide();
            }
            if ([prdcal == "C"]) {
                $(".prd_shw").hide();
                $(".cal_shw").show();
            }

            
            //$("#id_mthend").change(function () {
            //    var URL = $('#loader3').data('request-ajax3');
            //    var URLext = $('#id_mthend').val();
            //    var nump = "12"
            //    URL = $.trim(URL);

            //    URLext = $.trim(URLext);
            //    URL = URL;
            //    $.ajax({
            //        type: "Post",
            //        url: URL,
            //        data: { mthend: URLext },
            //        error: function (xhr, status, error) {
            //            alert("Error: " + xhr.status + " - " + error + " - " + URL);
            //        },
            //        success: function (data) {
            //            var items = '';
            //            $.each(data, function (i, state) {
            //                items = state.Text;
            //                if (state.Value == "1") {
            //                    $("#id_curtp").val(items);
            //                    $("#id_curtp").attr('disabled', 'disabled');
            //                }
            //                else {
            //                    $("#id_nump").val(items);
            //                    $("#id_nump").attr('disabled', 'disabled');
            //                }
            //            });


            //        }
            //    });
            //});
            //$("#yes2").click(function () {
            //    var clear_field = ""
            //    //var prd = "Will proceed to Period Definition after Update"
            //    $('#id_curtp').removeAttr('disabled');
            //    $('#id_nump').removeAttr('disabled');
            //    $('#id_curtp').val(clear_field);
            //    $('#id_nump').val(clear_field);
            //    //$("#prd_shw").show();
            //    $("#cal_shw").hide();
            //    //$("#num_alt_curshw").show();
            //    //$("#popft").show();
            //    $("#codft").hide();
            //    //$("#id_opf").val(clear_field);
            //    $("#id_pcw").hide();
            //    $("#id_ppw").show();

            //})
            //$("#pyes").click(function () {
            //    var clear_field = ""
            //    var prd = "Will proceed to Period Definition after Update"
            //    $('#id_curtp').removeAttr('disabled');
            //    $('#id_nump').removeAttr('disabled');
            //    $('#id_curtp').val(clear_field);
            //    $('#id_nump').val(clear_field);
            //    $("#prd_shw").show();
            //    $("#cal_shw").hide();
            //    $("#num_alt_curshw").show();
            //    $("#popft").show();
            //    $("#codft").hide();
            //    $("#id_opf").val(clear_field);

            //})
            //$("#pno").click(function () {
            //    var clear_field = ""
            //    var prd = "Will proceed to Period Definition after Update"
            //    $('#id_curtp').removeAttr('disabled');
            //    $('#id_nump').removeAttr('disabled');
            //    $('#id_curtp').val(clear_field);
            //    $('#id_nump').val(clear_field);
            //    $("#prd_shw").hide();
            //    $("#cal_shw").hide();
            //    $("#num_alt_curshw").show();
            //    $("#popft").hide();
            //    $("#codft").hide();
            //    $("#id_opf").val(clear_field);

            //})

            //$("#id_nump").change(function () {
            //    var prd = "Period Calender Definition would be available after Update"
            //    $('#prd_alert').html(prd);
            //})
            //$("#id_curtp").change(function () {
            //    $("#prd_alert").hide();
            //})

            //$("#no2").click(function () {
            //            $("#prd_alert").hide();
            //           $("#prd_shw").hide();
            //           $("#num_alt_curshw").hide();
            //            $("#popft").hide();
            //            $("#id_pcw").show();
            //            $("#id_ppw").hide();
            //    //        $("#cal_shw").show();
            //    //        $("#codft").show();

            //});

            //$("#cyes").click(function () {
            //    var URL = $('#loader3').data('request-ajax3');
            //    var URLext = $('#id_mthend').val();
            //    var nump = "12"
            //    URL = $.trim(URL);

            //    URLext = $.trim(URLext);
            //    URL = URL;
            //    $.ajax({
            //        type: "Post",
            //        url: URL,
            //        data: { mthend: URLext },
            //        error: function (xhr, status, error) {
            //            alert("Error: " + xhr.status + " - " + error + " - " + URL);
            //        },
            //        success: function (data) {
            //            var items = '';
            //            $.each(data, function (i, state) {
            //                items = state.Text;
            //                if (state.Value == "1") {
            //                    $("#id_curtp").val(items);
            //                    $("#id_curtp").attr('disabled', 'disabled');
            //                }
            //                else {
            //                    $("#id_nump").val(items);
            //                    $("#id_nump").attr('disabled', 'disabled');
            //                }
            //            });
            //            $("#prd_alert").hide();
            //            $("#prd_shw").hide();
            //            $("#cal_shw").show();
            //            $("#num_alt_curshw").hide();
            //            $("#popft").hide();
            //            $("#codft").show();


            //        }
            //    });
            //});


            //$("#go_period").click(function () {
            //    var URL = $('#loader4').data('request-ajax4');
            //    var URLext = $('#id_nump').val();
            //    URL = $.trim(URL);

            //    URLext = $.trim(URLext);
            //    URL = URL;
            //    $.ajax({
            //        type: "Post",
            //        url: URL,
            //        data: { num_prd: URLext },
            //        error: function (xhr, status, error) {
            //            alert("Error: " + xhr.status + " - " + error + " - " + URL);
            //        },
            //        success: function (data) {
            //            var items = '';
            //            $.each(data, function (i, state) {
            //                items = state.Text;
            //            });


            //        }
            //    });
            //});


        });
    </script>
}