@model  IEnumerable<CittaErp.Models.vw_genlay>
@{
    ViewBag.Title = "Discount_application_selection";
}


<h3>Discount application selection</h3>
@Html.ActionLink("Add New", "Create", "", new { @class = "btn btn-primary", @style = "color:white" })


    <table class="myTable1 display">

    <thead>
        <tr>
            <th>Discount selection basis</th>
            <th>Selection code</th>
            <th>Discount code</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.vwstring0</td>
                <td>@item.vwstring1</td>
                <td>@item.vwstring2</td>

                <td>@Html.ActionLink("E", "Edit", new { key1 = @item.vwstring4, key2 = @item.vwstring5, key3 = @item.vwstring6 }, new { @class = "btn btn-warning btn-xs glyphicon glyphicon-pencil" })</td>

                <td><span class="btn btn-danger btn-xs deleteitem" data-keyg="@item.vwstring4&@item.vwstring5&@item.vwstring6"> <i class="glyphicon glyphicon-trash "></i> </span></td>

            </tr>
        }
    </tbody>
</table>

    @Html.Hidden("id_xhrt", "K")
    <div id="loader2" data-request-ajax2="@Url.Action(" delete_list")"></div>





