@model  CittaErp.Models.vw_genlay
@{
    ViewBag.Title = "Price";
    ViewBag.action_flag = "Edit";
    string plabel = ViewBag.plabel;
}
@*Html.Partial("menu")*@
<div class="container-fluid">
    <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
        @Html.ValidationSummary(true)

        <h3>Property Price Matrix Maintainance</h3>
        @Html.Partial("_listupdel")

        @Html.Partial("Main")

        <div class="form-group">


        </div>
        @Html.HiddenFor(m => m.vwstring0)
        @Html.HiddenFor(m => m.vwint0)
        @Html.HiddenFor(m => m.vwstring5)
        @Html.HiddenFor(m => m.vwstring6)
        @Html.Hidden("id_xhrt", "K")
    </form>
</div>

@section Scripts {
    <script>
        $(function () {

            $("#priceitem").change(function () {
                var $form = $(this).closest('form');
                $("#id_subcheck").val("RR");
                $form.trigger("submit");

            });

            $("#id_int").click(function () {
                $("#shw_int").show();
                $("#shw_mtg").hide();
            });
            $("#id_mtg").click(function () {
                $("#shw_mtg").show();
                $("#shw_int").hide();
            });

            var itemtype = $("#pao").val();

            if (itemtype == "M") {
                $("#shw_mtg").show();
                $("#shw_int").hide();
            }

        });

    </script>
}


