@model  CittaErp.Models.vw_genlay
@{
    ViewBag.action_flag = "EditHeader";
    string plabel = ViewBag.plabel;
}
@*Html.Partial("menu")*@
<div class="container-fluid">
    <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
        @Html.ValidationSummary(true)

        <h3>Journal  Entries </h3>

        @Html.Partial("Jon")


    </form>
    @Html.HiddenFor(m=>m.vwstring9)
    @Html.HiddenFor(m=>m.vwdecimal4)
    @Html.HiddenFor(m=>m.vwdecimal5)

</div>

<div id="loader1" data-request-ajax1="@Url.Action("budget_cal")"></div>
<div id="loader4" data-request-ajax4="@Url.Action("ac_code")"></div>
<div id="loader5" data-request-ajax5="@Url.Action("ac_curen")"></div>
<div id="loader6" data-request-ajax6="@Url.Action("b_amt")"></div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var jtype = $("#jtype").val();
            if (jtype == "SJ") {
                $("#rjdisplay").hide();
                $("#ajdisplay").hide();
                $("#fjdisplay").hide();
            }
            if (jtype == "RJ") {
                $("#rjdisplay").show();
                $("#ajdisplay").hide();
                $("#fjdisplay").hide();
            }
            if (jtype == "AJ") {
                $("#rjdisplay").hide();
                $("#ajdisplay").show();
                $("#fjdisplay").hide();
            }
            if (jtype == "FJ") {
                $("#rjdisplay").hide();
                $("#ajdisplay").hide();
                $("#fjdisplay").show();
            }
        });
    </script>
<script type="text/javascript" src="@Url.Content("~/Scripts/CittaScripts/journal.js")"></script>
}
