@model  IEnumerable<CittaErp.Models.vw_genlay>
<table id="mytable" class="table table-bordred table-striped myTable1">

    <thead>
        <tr>

            <th>Sequence </th>
            <th>Transacton Type </th>
            <th>Item </th>
            <th>Quantity </th>
            <th>Unit Cost </th>
            <th>Extended Cost </th>
            <th>Reason </th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.vwint3</td>
                <td>@item.vwstring6</td>
                <td>@item.vwstring5</td>
                <td class="numformat">@item.vwdecimal2</td>
                <td class="numformat">@item.vwdecimal1</td>
                <td class="numformat">@item.vwdecimal3</td>
                <td>@item.vwstring3</td>
                <td>
                    @Html.ActionLink("E", "EditDetails", new { key1 = @item.vwint0, key2 = @item.vwint3 }, new { @class = "btn btn-warning btn-xs glyphicon glyphicon-pencil" })
                </td>
                <td><span class="btn btn-danger btn-xs deleteitem" data-keyg="@item.vwint0&@item.vwint3"> <i class="glyphicon glyphicon-trash "></i> </span></td>
            </tr>
        }

    </tbody>

</table>

