@model  CittaErp.Models.vw_genlay
@{
    ViewBag.Title = "company";
    ViewBag.action_flag = "Create";
    string plabel = ViewBag.plabel;
}
@*Html.Partial("menu")*@
<div class="container-fluid">
    <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
        @Html.ValidationSummary(true)
        <h3>Company Maintainance</h3>
        @Html.Partial("_listsubmit")

        @Html.Partial("Cmy")



        @Html.HiddenFor(m => m.vwstrarray0[0], "now")
        @Html.HiddenFor(m => m.vwblarray0[1], "")
        @Html.HiddenFor(m => m.vwblarray0[0], "")
        @Html.HiddenFor(m => m.vwstrarray0[25], "Standard")
        @Html.HiddenFor(m => m.vwstring0)
    </form>

</div>
<div id="loader1" data-request-ajax1="@Url.Action("pricehead_list")"></div>
<div id="loader2" data-request-ajax2="@Url.Action("pricehead_list2")"></div>
<div id="loader3" data-request-ajax3="@Url.Action("period_cal")"></div>


@section Scripts {
    <script>


        $(function () {

            $("#country").change(function () {
                var URL = $('#loader1').data('request-ajax1');
                var URLext = $('#country').val();
                URL = $.trim(URL);
                URLext = $.trim(URLext);
                URL = URL + "/" + URLext;
                $.ajax({
                    type: "Post",
                    url: URL,
                    error: function (xhr, status, error) {
                        alert("Error: " + xhr.status + " - " + error + " - " + URL);
                    },
                    success: function (data) {
                        var items = '';
                        $.each(data, function (i, state) {
                            items += "<option value='" + state.Value + "'>" + state.Text + "</option>";
                        });
                        $("#state").html(items);
                    }
                });
            });

            $("#codft").hide();

            $("#waiver").click(function () {
                $("#codeft").show();
            });

            $("#con").change(function () {
                var URL = $('#loader2').data('request-ajax2');

                var URLext = $('#con').val();
                URL = $.trim(URL);
                URLext = $.trim(URLext);
                URL = URL + "/" + URLext;
                $.ajax({
                    type: "Post",
                    url: URL,
                    async: false,
                    error: function (xhr, status, error) {
                        alert("Error: " + xhr.status + " - " + error + " - " + URL);
                    },
                    success: function (data) {
                        var items = '';
                        var item2 = '';
                        $.each(data, function (i, state) {
                            items = state.Value;
                            item2 = state.Text;
                        });
                        $("#base2").val(item2);
                        $("#base3").val(items);
                    }
                });
            });


            $("#no2").click(function () {
                var URL = $('#loader3').data('request-ajax3');
                var URLext = $('#id_mthend').val();
                var nump = "12"
                URL = $.trim(URL);

                URLext = $.trim(URLext);
                URL = URL;
                $.ajax({
                    type: "Post",
                    url: URL,
                    data: { mthend: URLext },
                    error: function (xhr, status, error) {
                        alert("Error: " + xhr.status + " - " + error + " - " + URL);
                    },
                    success: function (data) {
                        var items = '';
                        $.each(data, function (i, state) {
                            items = state.Text;
                            if (state.Value == "1") {
                                $("#id_curtp").val(items);
                                $("#id_curtp").attr('disabled', 'disabled');
                            }
                            else {
                                $("#id_nump").val(items);
                                $("#id_nump").attr('disabled', 'disabled');
                            }
                        });


                    }
                });
            });

        });


    </script>
}
