@model CittaErp.Models.vw_collect

@{
    Layout = null;
}

        @Scripts.Render("~/bundles/jquerybundle")
        @Styles.Render("~/Content/bundles/cssbundle")
        @Styles.Render("~/Content/themes/base/cssbundle")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/Scripts/js2bundle")



@using (Html.BeginForm("LostPassword","",FormMethod.Post,new {onsubmit="return lostp_password();"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Lost Password Form</legend>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <strong class="compname">Lost Password Form</strong>
                    </div>
                    <div class="panel-body login-text">
                        <div class="row ">
                            <div class="col-sm-4 col-sm-text-right">Database Code</div>
                            <div class="col-sm-7">@Html.DropDownListFor(m =>m.ws_string1,ViewBag.ws_string1 as SelectList,new{@class="form-control mypadding"}) </div>
                        </div>
	                    <div class="row row-height"> <div >&nbsp;</div></div>
                        <div class="row">
                            <div class="col-sm-4 col-sm-text-right "> Staff Number </div>
                            <div class="col-sm-7">@Html.TextBoxFor(model => Model.ws_code, new {  @maxlength = "10", id="ws_code", @class = "form-control mypadding"}) </div>
                        </div> 
	                    <div class="row row-height"> <div >&nbsp;</div></div>
                        <div class="row">
                            <div class="col-sm-4 col-sm-text-right">Date of Birth</div>
    		                <div class="col-sm-7">@Html.TextBoxFor(model => Model.ws_string0, new {  @maxlength = "10", @class = "form-control dob mypadding" }) </div>
                        </div>
	                    <div class="row row-height"> <div >&nbsp;</div></div>
                        <div class="row" id="secret_row">
                            <div  class="col-sm-4 col-sm-text-right" id=question_lbl>Secret Question Answer</div>
                            <div class="col-sm-7">@Html.PasswordFor(model => Model.ws_string2 ,new {  @maxlength = "50", @class = "form-control mypadding" })  </div>
		                </div>
                    
                        <div class="row">
                            <button type="submit" class="btn btn-success col-sm-12 font-150 col-xs-12" >
                                <i class="glyphicon glyphicon-envelope"></i> Mail Password
                                </button>
                        </div>
                        <div class="row">
                                <span class="text-centre"><a href="~/"  class="btn btn-danger col-sm-12 font-150 col-xs-12">
                                    <i class ="glyphicon glyphicon-remove"></i> Cancel</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </fieldset>
    
}
<div id="loader1" data-request-daily="@Url.Action("DailyList")"></div>



   <script >

       $(function () {
           $("#secret_row").hide();
           
           $("#ws_code").change(function () {
               var URL = '@Url.Action("DailyList") ';
               URL = $.trim(URL);
               var textlbl;
               var URLext = $('#ws_code').val();
               var URLext1 = $('#ws_string1').val();
               URLext = $.trim(URLext);
               URL = URL + URLext + "[]" + URLext1;
               $.ajax({
                   type: "Post",
                   url: URL,
                   async: false,
                   error: function (xhr, status, error) {
                       alert("Error: " + xhr.status + " - " + error + " - " + URL);
                   },
                   success: function (data) {
                       var items = '';
                       $.each(data, function (i, state) {
                           $("#question_lbl").html(state.Value);
                           textlbl = state.Value;
                       });
                   }
               });
               if (textlbl != "") 
                   $("#secret_row").show();
               else
                   $("#secret_row").hide();

           });

       });

   </script>



