@model  CittaErp.Models.vw_genlay
@{
    ViewBag.Title = "Employee";
    ViewBag.action_flag = "Edit";
    string plabel = ViewBag.plabel;
}
@*Html.Partial("menu")*@

<div class="container-fluid">
    <form class="form-horizontal" role="form" method="post">
        @Html.ValidationSummary(true)


        <h3>Account Type Maintainance</h3>
        @Html.Partial("_listupdel")


        @*h3>@plabel Setting</h3>>*@
        @Html.Partial("Account_type")
        @Html.HiddenFor(m => m.vwstring0)
        @Html.Hidden("id_xhrt", "K")
    </form>
</div>

