@model CittaErp.Models.LocalPasswordModel

@{
    Layout = null;
    string psv = ViewBag.psv;
}

        @Scripts.Render("~/bundles/jquerybundle")
        @Styles.Render("~/Content/bundles/cssbundle")
        @Styles.Render("~/Content/themes/base/cssbundle")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/Scripts/js2bundle")




@using (Html.BeginForm("LChangePassword", "", FormMethod.Post, new { onsubmit = "return check_password_same();" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-1">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <strong class="compname">Change Password Form</strong>
                    </div>
                    <div class="panel-body login-text">
                        <div class="row ">
                            <div class="col-sm-4 col-sm-text-right">Current Password</div>
                            <div class="col-sm-4">@Html.PasswordFor(model => Model.OldPassword, new { @class = "form-control mypadding" }) </div>
                        </div>
	                    <div class="row row-height"> <div >&nbsp;</div></div>
                        <div class="row">
                            <div class="col-sm-4 col-sm-text-right "> New Password </div>
                            <div class="col-sm-4">@Html.PasswordFor(model => Model.NewPassword, new { @class = "form-control mypadding" })</div>
                        </div> 

	                    <div class="row row-height"> <div >&nbsp;</div></div>
                        <div class="row">
                            <div class="col-sm-4 col-sm-text-right">Confirm New Password</div>
    		                <div class="col-sm-4">@Html.PasswordFor(model => Model.ConfirmPassword, new {@class = "form-control mypadding" }) </div>
                        </div>

	                    <div class="row row-height"> <div >&nbsp;</div></div>
                    
                        @if (psv == "Y")
                        {
                            <div class="row">
        	                    <div class="col-sm-11">Provide new Answer only if you want to make a change </div> 
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-text-right"> Secret Question </div>
                                <div class="col-sm-6 "> @Html.DropDownListFor(model => Model.pass4, ViewBag.qtime as SelectList,new { @class = "form-control mypadding " }) </div>
                            </div>
        	                <div class="row row-height"> <div >&nbsp;</div></div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-text-right"> Answer</div>
                                <div class="col-sm-6"> @Html.PasswordFor(model => Model.pass5, new { @class = "form-control mypadding" }) </div>
                            </div>
                        }
                        else
                        {
                            @Html.HiddenFor(model => Model.pass5, "")
                        }
                        <br />
                    <div class="row">
                        <button type="submit" class="btn btn-success col-sm-12 col-xs-12 font-150 " >
                            <i class="glyphicon glyphicon-eye-close"></i>  Change Password
                            </button>
                    </div>
                    <div class="row">
                            <span class="text-centre"><a href="~/"  class="btn btn-danger col-sm-12 col-xs-12 font-150">
                                <i class="glyphicon glyphicon-remove"></i> Cancel</a></span>
                    </div>

                </div>

        	            @{
                            if (Model.pass2 == "L" || Model.pass2 == "Y")
                            {
                            <div class="panel-footer">
                            <div class="row">
                                <div class="row row-height">
                                    <div class="col-sm-6 color-blue"> Password Requirements</div>
                                </div>
                                <div class="row row-height"></div>
                                <div class="row">
		                            <div class="col-sm-12 col-sm-offset-1 color-red ">
                                        a.  1 uppercase character.  <br /> 
		                                b.  1 lowercase character.  <br /> 
		                                c.  1 numeric character.  <br /> 
		                                d.  1 special character <br /> 
		                            </div>
                                    <div class="col-sm-12 col-sm-offset-1 color-red " >
                                    @if(Model.pass2 == "Y") 
                                        {   
			                            @:e.  No 3 consecutive characters i.e. xyz or cba <br /> 
		                                @:f.  No repeating characters in the password i.e bee.  <br />
                                        
                                        }
                                     </div>
                                </div>
                            </div>
                            </div>
                            }
                        }
            </div>
        </div>
    </div>
    </div>
    
    <fieldset>
        <legend>Change Password Form</legend>

    </fieldset>
    
    @Html.HiddenFor(model => Model.pass1)
    @Html.HiddenFor(model => Model.pass2)
    @Html.HiddenFor(model => Model.pass3)

}

