@model  IEnumerable<CittaErp.Models.vw_genlay>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Asset Meter Readings Listing";
}
@*Html.Partial("menu")*@
<h3>Asset Meter Readings Listing</h3>
@Html.ActionLink("Add New", "Create", "", new { @class = "btn btn-primary", @style = "color:white" })

<div class="new">
    <table class="myTable1 display">
        <thead>
            <tr>
                <th>Fixed Asset ID</th>
                <th>Asset</th>
                <th>UOR</th>
                <th>Cumulative Activity Level Figure</th>
                <th>Transaction Date</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.vwstring0</td>
                    <td>@item.vwstring1</td>
                    <td>@item.vwstring2</td>
                    <td>@item.vwint0</td>
                    <td>@item.vwstring3.Substring(6, 2)/@item.vwstring3.Substring(4, 2)/@item.vwstring3.Substring(0, 4)</td>
                    <td>@Html.ActionLink("E", "Edit", new { key1 = @item.vwstring0 }, new { @class = "btn btn-warning btn-xs glyphicon glyphicon-pencil" })</td>
                    <td><span class="btn btn-danger btn-xs deleteitem" data-keyg="@item.vwstring0"><i class="glyphicon glyphicon-trash "></i> </span></td>
                </tr>
            }
        </tbody>
    </table>

</div>



@Html.Hidden("id_xhrt", "K")
<div id="loader2" data-request-ajax2="@Url.Action("delete_list")"></div>


