@model  IEnumerable<CittaErp.Models.vw_genlay>
@{
    ViewBag.Title = "bank";   
}
@*Html.Partial("menu")*@
<h3> Revaluation</h3>
@Html.ActionLink("Add New", "Create", "", new { @class = "btn btn-primary", @style = "color:white" })


        <table class="myTable1 display">

    <thead>
        <tr>
            <th>Reference Number</th>
            <th>Posting Date</th>
            <th>Account</th>
            <th>Current</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.vwstring0</td>
                <td>@item.vwdate1.ToString("dd/MM/yyyy")</td>
                <td>@item.vwstring2</td>
                <td class="numformat">@item.vwdecimal0</td>
                <td>
                    @Html.ActionLink("E", "Edit", new { key1 = @item.vwint0 }, new { @class = "btn btn-warning btn-xs glyphicon glyphicon-pencil" })
                </td>
                <td><span class="btn btn-danger btn-xs deleteitem" data-keyg="@item.vwint0"> <i class="glyphicon glyphicon-trash "></i> </span></td>
            </tr>
        }

    </tbody>

</table>
        @Html.Hidden("id_xhrt", "K")

<div id="loader2" data-request-ajax2="@Url.Action("delete_list")"></div>

@section Scripts {
    <script>

        //$("#id_delete").click(function () {
        //    //var $form = $(this).closest('form');
        //    bootbox.confirm("message", function (a) {
        //        if (a) {
        //            $("#id_xhrt").val("D");
        //            $form.trigger("submit");
        //        }
        //        else {
        //            $("#id_xhrt").val("X");
        //        }
        //    });
        //});
    </script>
}