@model CittaErp.Models.vw_collect 


@using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.Partial("_ProcessBtn");

    <fieldset>
        <div class="container-fluid table-edit" >
        
            <div class="row">
                <div class="col-sm-3 col-sm-text-right">Report Name</div>
                <div class="col-sm-4 "> 
                    @Html.DropDownList("ws_string1", ViewBag.repname as SelectList, new { @class = " form-control mypadding " })
                    @Html.ValidationMessageFor(model => model.ws_string1)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-sm-text-right">Payment Run</div>
                <div class="col-sm-3 ">
                    @*<select class = " form-control mypadding " id = "select_period" name="ws_string0"> <option value=""></option> </select>*@
                    @Html.DropDownListFor(model => Model.ws_string0, new SelectList(@ViewBag.update as SelectList, "Value", "Text", @Model.ws_string0), new { id = "select_period", @class = " form-control mypadding " })
                </div>    
            </div>    
            <div class="row">
                <div class="col-sm-3 col-sm-text-right">Payroll Period</div>
                <div class="col-sm-2 ">
                    @*<select class = " form-control mypadding " id = "period_from_mm" name="ws_string2"> <option value=""></option> </select>*@
                    @Html.DropDownListFor(model => Model.ws_string2,@ViewBag.pmonth as SelectList, new { id = "period_from_mm", @class = " form-control mypadding " })
            </div><div class="col-sm-1">
                    @Html.DropDownListFor(model => Model.ws_string3, @ViewBag.pyear as SelectList, new { id = "period_from_yy", @class = " form-control mypadding " })
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 col-sm-text-right">Transfer Layout</div>
                <div class="col-sm-3 "> 
                    @Html.DropDownList("ws_string4", ViewBag.layout as SelectList, new { @class = " form-control mypadding " })
                    @Html.ValidationMessageFor(model => model.ws_string4)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-sm-text-right">Create File Name</div>
                <div class="col-sm-4 ">
                    @Html.TextBox("ws_string5","", new { @maxlength = "20" , @class = " form-control mypadding " })
                </div>
             </div>

        @Html.Partial("_RepSelViewnp", @Model)

             
        </div>

    @Html.Hidden("rtype2",Model.tx_string2[0])

    </fieldset>
}

<div id="loading">
    <div id="loadingcontent">
        <p id="loadingspinner">
            Pls wait...
        </p>
    </div>
</div>


<div id="loader1b" data-request-dailyb="@Url.Action("DailyListb","scriptcall")"></div>
<div id="loader2" data-request-daily2="@Url.Action("Daily2List")"></div>
<div id="loader3" data-request-updatev="@Url.Action("update_view")"></div>

@section Scripts {


<script>
    default_payment();
   // rep_query($("#rtype1").val());

</script>
}
