@model CittaErp.Models.vw_collect 

@using (Html.BeginForm()) {
    
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.Partial("_ReportBtn");
    
    <fieldset>
        <legend></legend>
    <div class="container-fluid table-edit">
    <div class="row">
        <div class="col-sm-3 col-sm-text-right">Code</div>
        <div class="col-sm-3 ">
            @Html.DropDownList("ws_string2",new SelectList (@ViewBag.ppart as SelectList,"Value","Text",@Model.ws_string2),"",new { @class = " form-control mypadding " })
        </div>
        <div class="col-sm-1 text-centre"> To </div>
        <div class="col-sm-3">@Html.DropDownList("ws_string3",new SelectList (@ViewBag.ppart as SelectList,"Value","Text",@Model.ws_string3),"",new { @class = " form-control mypadding " }) 
        </div>
    
    </div>    

        @Html.Partial("_RepSelViewnp", @Model)


        </div>

    @Html.HiddenFor(model => model.ws_string1 )
    @Html.Hidden("rtype2",Model.tx_string2[0])
        
   </fieldset>
}

<div id="loading">
    <div id="loadingcontent">
        <p id="loadingspinner">
            Pls wait...
        </p>
    </div>
</div>

<div id="loader1b" data-request-dailyb="@Url.Action("DailyListb","scriptcall")"></div>

@section Scripts {


<script>
    rep_query($("#rtype1").val());

</script>
}