@model CittaErp.Models.vw_collect 
@{
    CittaErp.Models.psess psess = (CittaErp.Models.psess)Session["psess"];
    string rtype = psess.sarrayt0[3].ToString();
}

@using (Html.BeginForm()) {
    
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.Partial("_ReportBtn");

    <fieldset>
    <div class="container-fluid table-edit">
    <br />

        @if (rtype == "ALIST")
        {
        <div class="row">
            <div class="col-sm-3 col-sm-text-right">@psess.temp4</div>
            <div class="col-sm-3 ">
                @Html.DropDownListFor(model => Model.ws_string8, @ViewBag.customer as SelectList, "[--ALL--]", new { @class = " form-control mypadding " })
            </div>
            <div class="col-sm-1 text-center">To</div>
            <div class="col-sm-3 ">
                @Html.DropDownListFor(model => Model.ws_string9, @ViewBag.customer as SelectList, "[--ALL--]", new { @class = " form-control mypadding " })
            </div>
        </div>
        }

        <div class="row">
            <div class="col-sm-3 col-sm-text-right">Period</div>
            <div class="col-sm-2 ">
                @Html.DropDownListFor(model => Model.ws_string2, new SelectList(@ViewBag.pmonth as SelectList, "Value", "Text", @Model.ws_string2), new { @class = " form-control mypadding " })
            </div><div class="col-sm-1">
                @Html.DropDownListFor(model => Model.ws_string3, new SelectList(@ViewBag.pyear as SelectList, "Value", "Text", @Model.ws_string3), new { @class = " form-control mypadding " })
            </div>
            @*<div class="col-sm-1 text-center">To</div>
            <div class="col-sm-2 ">
                @Html.DropDownListFor(model => Model.ws_string4, new SelectList(@ViewBag.pmonth as SelectList, "Value", "Text", @Model.ws_string4), new { @class = " form-control mypadding " })
            </div><div class="col-sm-1">
                @Html.DropDownListFor(model => Model.ws_string5, new SelectList(@ViewBag.pyear as SelectList, "Value", "Text", @Model.ws_string5), new { @class = " form-control mypadding " })
            </div>*@
        </div>


        @Html.Partial("_RepSelViewnp", @Model)


        </div>

    @Html.HiddenFor(model => model.ws_string1)
    @Html.Hidden("rtype1",rtype)
    @Html.Hidden("rtype2",Model.tx_string2[0])
        
   </fieldset>
}

<div id="loading">
    <div id="loadingcontent">
        <p id="loadingspinner">
            Pls wait...
        </p>
    </div>
</div>

<div id="loader1b" data-request-dailyb="@Url.Action("DailyListb","scriptcall")"></div>
<div id="loader2" data-request-daily2="@Url.Action("Daily2List")"></div>
<div id="loader3" data-request-updatev="@Url.Action("update_view")"></div>

@section Scripts {


<script>
    //rep_query($("#rtype1").val());

</script>
}