
@model CittaErp.Models.vw_collect
@{
    CittaErp.Models.psess psess = (CittaErp.Models.psess)Session["psess"];
    string rtype = psess.sarrayt0[3].ToString();
    int ctr1 = 0;
    string lblname = "";
    string surep = "";
    if (psess.sarrayt0[2] != null)
    {
        surep = psess.sarrayt0[2].ToString();
    }

}

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.Partial("_ReportBtn");

    <fieldset>
        <legend></legend>
        <div class="container-fluid table-edit">

            @if (rtype == "TIMEREP")
            {
            <div class="row">
                <div class="col-sm-3 col-sm-text-right">Transaction Date</div>
                <div class="col-sm-2 ">@Html.TextBoxFor(model => Model.ws_string6, new { @maxlength = 10, @class = " form-control mypadding dob" })</div>
            </div>

            <div class="row">1

                <div class="col-sm-3 col-sm-text-right">Staff Number</div>
                <div class="col-sm-3 ">
                    @Html.TextBoxFor(model => Model.ws_string4, new { @maxlength = 10, @class = " form-control mypadding " })
                </div>
                <div class="col-sm-1 text-centre"> To </div>
                <div class="col-sm-3">
                    @Html.TextBoxFor(model => Model.ws_string5, new { @maxlength = 10, @class = " form-control mypadding " })
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 col-sm-text-right">Approver By</div>
                <div class="col-sm-4 ">
                    <select  class = " form-control mypadding " id="staff1" name="ws_string7"> <option value=""></option> </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-sm-text-right">Approval Date</div>
                <div class="col-sm-2 ">@Html.TextBoxFor(model => Model.ws_string2, new { @maxlength = 10, @class = " form-control mypadding dob" })</div>
                <div class="col-sm-1 text-centre  col-sm-offset-1"> To </div>
                <div class="col-sm-2 ">@Html.TextBoxFor(model => Model.ws_string3, new { @maxlength = 10, @class = " form-control mypadding dob" })</div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-sm-text-right">Selection Criteria</div>
                <div class="col-sm-8 myradioq">
                    @Html.RadioButtonFor(model => model.ws_string8, "E", new { id = "tspay1" })
                    <label for="tspay1">Estimate Hours</label>  &nbsp;&nbsp;
                    @Html.RadioButtonFor(model => model.ws_string8, "A", new { id = "tspay2" })
                    <label for="tspay2">Actual Hours</label>    &nbsp;&nbsp;
                </div>
            </div>
            }

            @if (rtype == "ic_mat")
            {
                <div class="row">
                    <div class="col-sm-3 col-sm-text-right">Ticket_no</div>
                    <div class="col-sm-3 ">@Html.TextBoxFor(model => Model.ws_string4, new { @maxlength = 20, @class = " form-control mypadding " })</div>
                    <div class="col-sm-1 text-centre"> To </div>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => Model.ws_string5, new { @maxlength = 20, @class = " form-control mypadding " })
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-sm-text-right">Value Date</div>
                    <div class="col-sm-2 ">@Html.TextBoxFor(model => Model.ws_string2, new { @maxlength = 10, @class = " form-control mypadding dob" })</div>
                    <div class="col-sm-1 text-centre  col-sm-offset-1"> To </div>
                    <div class="col-sm-2 ">@Html.TextBoxFor(model => Model.ws_string3, new { @maxlength = 10, @class = " form-control mypadding dob" })</div>
                </div>

                <div class="row">
                    <div class="col-sm-3 col-sm-text-right">Fleet</div>
                    <div class="col-sm-3 ">
                        @Html.DropDownListFor(model => Model.ws_string6, ViewBag.fleet as SelectList, "",new { @class = " form-control mypadding " })
                    </div>
                    <div class="col-sm-1 text-centre"> To </div>
                    <div class="col-sm-3">
                        @Html.DropDownListFor(model => Model.ws_string5, ViewBag.Fleet as SelectList,"", new { @class = " form-control mypadding " })
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 col-sm-text-right">Approver By</div>
                    <div class="col-sm-4 ">
                        <select  class = " form-control mypadding " id="staff1" name="ws_string7"> <option value=""></option> </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-sm-text-right">Selection Criteria</div>
                    <div class="col-sm-8 myradioq">
                        @Html.RadioButtonFor(model => model.ws_string8, "E", new { id = "tspay1" })
                        <label for="tspay1">Estimate Hours</label>  &nbsp;&nbsp;
                        @Html.RadioButtonFor(model => model.ws_string8, "A", new { id = "tspay2" })
                        <label for="tspay2">Actual Hours</label>    &nbsp;&nbsp;
                    </div>
                </div>
            }

                @Html.Partial("_RepSelViewnp", @Model)

            </div>

        @Html.HiddenFor(model => model.ws_string1)
        @Html.Hidden("rtype1", rtype)
        @Html.Hidden("rtype2", Model.tx_string2[0])

    </fieldset>
}

<div id="loading">
    <div id="loadingcontent">
        <p id="loadingspinner">
            Pls wait...
        </p>
    </div>
</div>


<div id="loader1" data-request-daily="@Url.Action("DailyList")"></div>
<div id="loader1b" data-request-dailyb="@Url.Action("DailyListb", "scriptcall")"></div>

@section Scripts {
    <script>

    rep_query($("#rtype1").val());

    </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/CittaScripts/CittaErp/pscript5.min.js")"></script>
}