@model  CittaErp.Models.vw_genlay
@{
    ViewBag.Title = "category";
    ViewBag.action_flag = "Edit";
    string plabel = ViewBag.plabel;
}
@*Html.Partial("menu")*@
<div class="container-fluid">
    <form class="form-horizontal" role="form" method="post" >
        @Html.ValidationSummary(true)

        <h3>Account Category Maintainance</h3>
        @Html.Partial("_listupdel")

        @Html.Partial("Cat")

        <div class="form-group">
            

        </div>
        @Html.HiddenFor(m => m.vwstring3)
        @Html.Hidden("id_xhrt","K")
    </form>
</div>


