@model  CittaErp.Models.GB_001_DOC
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Create";
}

<div class="container-fluid">
    <form class="form-horizontal" role="form" method="post" action="C">
        <h3>Document Screen</h3>
        <div class="col-lg-6">
            <div class="form-group">
                <label for="itemcode" class="col-sm-5 control-label">Screen Code</label>
                <div class="col-sm-5">
                    @Html.TextBoxFor(m => m.screen_code, new { @class = "form-control", style = "width : 60px", maxlength = 10, @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group">
                <label for="analysisheader" class="col-sm-5 control-label">Document Code</label>
                <div class="col-sm-5">
                    @Html.TextBoxFor(m => m.document_code, new { @class = "form-control", style = "width : 170px", maxlength = 20, })
                </div>
            </div>
            <div class="form-group">
                <label for="analysiscode" class="col-sm-5 control-label">Document Sequence</label>
                <div class="col-sm-5">
                    @Html.TextBoxFor(m => m.document_sequence, new { @class = "form-control", style = "width : 40px", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group">
                <label for="tax" class="col-sm-5 control-label">Document</label>
                <div class="col-sm-5">
                   @Html.TextBoxFor(m => m.document_image, new { @class = "form-control", type = "file"})
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label for="Note" class="col-sm-5 control-label"> Note</label>
                <div class="col-sm-7">
                    @Html.TextAreaFor(m => m.note, new { @class = "form-control", rows = "6" })
                </div>
            </div>
            <br />
            <br />
            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-5">
                    <button type="submit" class="btn btn-primary btn-default">Submit</button>
                    <a class="btn  btn-primary btn-default" href="index">Back To List</></a>
                </div>
            </div>
        </div>
    </form>
</div>


