@model  CittaErp.Models.vw_genlay



        <div>
            <div class="row form-group">
                <label for="warehouse" class="col-sm-5 control-label"> Numeric Size</label>
                <div class="col-sm-1">
                    @Html.TextBoxFor(m => m.vwint0, new { @class = "form-control", style = "width : 50px", @maxlength = 1})
                </div>
            </div>

            <div class="row form-group">
                <label class="control-label col-sm-5">Single Numbering Sequence?</label>
                <div class="col-sm-5 myradio">
                    <label class="radio-inline">
                        @Html.RadioButtonFor(m => m.vwstring0, "Y", new { @id = "yess" }) Yes
                    </label>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <label class="radio-inline">
                        @Html.RadioButtonFor(m => m.vwstring0, "N", new { @id = "noo" }) No
                    </label>
                </div>
                @Html.HiddenFor(m => m.vwstring0, new { id = "single" })
            </div>

            <div class="form-group headercol headerfont">
                <label for="DateTo" class="col-sm-3">  </label>
                <label for="DateTo" class="col-sm-2" >Order Type </label>
                <label for="DateTo" class="col-sm-2"> Prefix</label>
                <label for="DateTo" class="col-sm-3"> Sequence </label>

            </div>

            <div class="row form-group" style="display:none;" id="click">
                <div class="row form-group">
                    <label for="DateTo" class="col-sm-2">  </label>
                    <label for="DateTo" class="col-sm-1">  </label>
                    <label for="DateTo" class="col-sm-2 control-label"> Single Numbering</label>
                    
                    <div class="col-sm-2">
                        @Html.TextBoxFor(m => m.vwstring1, new { @class = "form-control", @maxlength = 5 })
                    </div>

                    <div class="col-sm-3">
                        @Html.TextBoxFor(m => m.vwint1, new { @class = "form-control", @maxlength = 9 })
                    </div>
                </div>
            </div>

            <div class="row form-group" style="display:none;" id="click1">
                
                @for (int ctr1 = 0; ctr1 < 10; ctr1++)
                {

                    if (Model.vwstrarray1[ctr1] != null) { 
                <div class="row form-group">
                    <label for="DateTo" class="col-sm-2">  </label>
                    <label for="DateTo" class="col-sm-1">  </label>
                    <label for="DateTo" class="col-sm-2 control-label"> @Model.vwstrarray1[ctr1]</label>
                    
                    <div class="col-sm-2">
                         @Html.TextBoxFor(m => m.vwstrarray2[ctr1], new { @class = "form-control", @maxlength = 5 })
                    </div>

                    <div class="col-sm-3">
                        @Html.TextBoxFor(m => m.vwitarray0[ctr1], new { @class = "form-control", @maxlength = 9 })
                    </div>
                </div>
                    @Html.HiddenFor(m =>m.vwstrarray3[ctr1])
                }
                }
           
            </div>

    </div>