
@model  CittaErp.Models.vw_genlay
@{
    ViewBag.Title = "Sub-Contract";
    ViewBag.action_flag = "Create";
    string plabel = ViewBag.plabel;
}
@*Html.Partial("menu")*@
<div class="container-fluid">
    <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
        @Html.ValidationSummary(true)
        <h3>Sub-Contract Maintenance</h3>
        @Html.Partial("_listsubmit")

        @Html.Partial("Scm")
        @Html.Hidden("subcheck", "NR", new { @id = "id_subcheck" })

    </form>
</div>

<div id="loader5" data-request-ajax5="@Url.Action("assign")"></div>

@section Scripts {
    <script>


        $(document).ready(function () {
            $("#id_vend").change(function () {
                var $form = $(this).closest('form');
                $("#id_subcheck").val("RR");
                $form.trigger("submit");
            });

            $("#id_svo").change(function () {
                var $form = $(this).closest('form');
                $("#id_subcheck").val("RR");
                $form.trigger("submit");
            });

        $("#id_asset").change(function () {
            var URL = $('#loader5').data('request-ajax5');
            var URLext = $('#id_wrk').val();
            //alert(URLext);
            //var set_price = "N"

            URL = $.trim(URL);
            URLext = $.trim(URLext);
            URL = URL + "/" + URLext;

            $.ajax({

                url: URL,
                type: 'Post',

                error: function (xhr, status, error) {
                    alert("Error: " + xhr.status + " - " + error + " - " + URL);
                },
                success: function (data) {
                    var empp = '';
                    $.each(data, function (i, state) {
                        empp = state.Text;
                        if (state.Value == "employee")
                            $("#id_manager").html(empp);

                    });


                }
            });

        });
        });
    </script>
}


