
@model  CittaErp.Models.vw_genlay
@{
    SelectList[] head_det = (SelectList[])Session["head_det"];

}
<div class="tabbable">
    @if (Session["action_flag"].ToString() == "Edit")
    {
    <div class="row form-group">
            <label for="asset-group" class="col-sm-2 control-label">Job Role ID</label>
            <div class="col-sm-5">
                @Html.TextBoxFor(m => m.vwint0, ViewBag.action_flag == "Create" ? (object)new { @class = "form-control", @maxlength = 20 } : new { @class = "form-control", @disabled = "disabled" })
                @Html.ValidationMessageFor(m => m.vwstring0)
            </div>
        @Html.HiddenFor(m => m.vwint0)
        </div>
    }
    <div class="row form-group">
        <label for="AssetDescription" class="col-sm-2 control-label">Job Title</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(m => m.vwstring1, new { @class = "form-control", maxlength = 50 })
        </div>
    </div>
    <div class="row form-group">
        <label for="Fixed Assests" class="col-sm-2 control-label">Costing Basis</label>
        <div class="col-sm-3">
            @Html.DropDownListFor(m => m.vwstring2, ViewBag.timing as SelectList, "Select", new { @class = "form-control", id = "id_employee" })
        </div>
    </div>
    <div class="row form-group">
    <label for="AssetDescription" class="col-sm-2 control-label">Cost Value</label>
    <div class="col-sm-9">
        @Html.TextBoxFor(m => m.vwdecimal0, new { @class = "form-control", maxlength = 50 })
    </div>
</div>
<div class="row form-group">
    <label class="col-sm-2 control-label">Inactive</label>
    <div class="col-sm-6 mycheckq">
        @Html.CheckBoxFor(model => Model.vwbool0, new { @id = "activate_yesno" })
        <label for="activate_yesno">
            @( Model.vwbool0 ? "On" : "Off")
        </label>
    </div>
</div>






