@model  IEnumerable<CittaErp.Models.vw_genlay>
@{
    ViewBag.Title = "sales";
}
@*Html.Partial("menu")*@
<h3>Ordering </h3>
<div align="left" class="col-sm-4">
    @Html.ActionLink("Add New", "CreateHeader", "", new { @class = "btn btn-primary", @style = "color:white" })
</div>
<div align="center" class="col-sm-4">
    @Html.ActionLink("Convert Quote to Order", "QuoteIndex", "", new { @class = "btn btn-success", style = "width : 160px; display : inline; color:white" })
    @*<button type="submit" class="btn btn-success " style="width : 160px; display : inline" name="headtype" value="convert">Convert to Order</button>*@
</div>



<table class="myTable1 display">

    <thead>
        <tr>
            <th>Order reference</th>
            <th>Customer</th>
            <th>Currency code</th>
            <th>Order amount</th>
            <th>Order date</th>
            <th>Order expiration date</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.vwstring0</td>
                <td>@item.vwstring1</td>
                <td>@item.vwstring2</td>
                <td class="numformat">@item.vwdecimal0</td>
                <td>@item.vwdate0.ToString("dd/MM/yyyy")</td>
                <td>@item.vwdate1.ToString("dd/MM/yyyy")</td>
                <td>
                    @Html.ActionLink("E", "Edit", new { key1 = @item.vwint0 }, new { @class = "btn btn-warning btn-xs glyphicon glyphicon-pencil" })
                </td>
                <td><span class="btn btn-danger btn-xs deleteitem" data-keyg="@item.vwint0"> <i class="glyphicon glyphicon-trash "></i> </span></td>
            </tr>
        }

    </tbody>

</table>
@Html.Hidden("id_xhrt", "K")


<div id="loader2" data-request-ajax2="@Url.Action("delete_list")"></div>

@section Scripts {
    <script>


    </script>
}