@model  IEnumerable<CittaErp.Models.vw_genlay>
@{
    ViewBag.Title = "sales";
}
@*Html.Partial("menu")*@
<h3>Open Quotation List</h3>
@Html.ActionLink("Add New", "CreateHeader", "", new { @class = "btn btn-primary", @style = "color:white" })


<table class="myTable1 display">

    <thead>
        <tr>
            <th>Quote reference</th>
            <th>Customer</th>
            <th>Currency code</th>
            <th>Quote amount</th>
            <th>Quote date</th>
            <th>Quote expiration date</th>
            <th>Create</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.vwstring0</td>
                <td>@item.vwstring1</td>
                <td>@item.vwstring2</td>
                <td class="numformat">@item.vwdecimal0</td>
                <td>@item.vwstring3.Substring(6, 2)/@item.vwstring3.Substring(4, 2)/@item.vwstring3.Substring(0, 4)</td>
                <td>@item.vwstring4.Substring(6, 2)/@item.vwstring4.Substring(4, 2)/@item.vwstring4.Substring(0, 4)</td>
                @if (Convert.ToInt32(item.vwstring3) < Convert.ToInt32(item.vwstring4)) { 
                <td>
                    @Html.ActionLink("C", "QuoteConvert", new { key1 = @item.vwint0, key2 = @item.vwstring0 }, new { @class = "btn btn-warning btn-xs glyphicon glyphicon-pencil" })
                </td>
                }
                else
                {
                   <td><span  style="color:red"> Expired</span></td>
                }
            </tr>
        }

    </tbody>

</table>
@Html.Hidden("id_xhrt", "K")


<div id="loader2" data-request-ajax2="@Url.Action("delete_list")"></div>

@section Scripts {
    <script>


    </script>
}