@model CittaErp.Models.vw_genlay 
@{
    string qy = "";
}
<div class="container-fluid table-edit" >
    <div class="row">
        <div class="col-sm-3 col-sm-text-right">Id</div>
        <div class="col-sm-2"> 
            @Html.TextBoxFor(model => model.vwcode, @Model.datmode == "E" ? (object) new {@disabled="disabled", @class=" form-control mypadding readonly-color"} : new { @maxlength = "10", required="required", @class = " form-control mypadding " }) 
            @Html.ValidationMessageFor(model => model.vwcode)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-sm-text-right">Description</div>
        <div class="col-sm-4">
            @Html.TextBoxFor(model => model.vwstring0, new {  @maxlength = "40", required="required", @class = " form-control mypadding " })
            @Html.ValidationMessageFor(model => model.vwstring0)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-sm-text-right">Calculation Basis</div>
        <div class="col-sm-4">
            @Html.DropDownListFor(model => Model.vwstring1, new SelectList(ViewBag.lrow, "Value", "Text", Model.vwstring1), "", new { @class = " form-control mypadding " })
            @Html.ValidationMessageFor(model => model.vwstring1)
        </div>
    </div>
    <div class="row">
            <div class="row rowheader"><div class="col-sm-1 col-sm-offset-2 "></div>
                <div class="col-sm-1">Position</div>
                <div class="col-sm-1">Operator</div>
            </div>
            @for (int wctr = 0; wctr < 20; wctr++)
            {
                qy = "query" + wctr.ToString();
             
                <div class="row" id="@qy">
                    <div class="col-sm-3 col-sm-text-right">@(wctr + 1).</div>
                    <div class="col-sm-1">
                        @Html.TextBoxFor(model => model.vwitarray0[wctr], new { style="width:60px", @class = " form-control mypadding digitform ", @maxlength = "4" })
                    </div>
                    <div class="col-sm-1">
                        @Html.DropDownListFor(model => Model.vwstrarray0[wctr], new SelectList(ViewBag.oper1, "Value", "Text", Model.vwstrarray0[wctr]), "", new { @class = " form-control mypadding " })
                    </div>
                </div>
            }


    </div>

    <br />
    @if (Model.vwint1 < Model.vwint5)
            {
        <div class="row" id="btnline"><div class="col-sm-5 col-sm-offset-3"><INPUT id="btone" class="btn btn-primary" type=button value='Add a Line' /></div></div>
    }

    <br />
            @Html.Hidden("rtype1",Model.vwstring10)

  </div>

