@model anchor1.Models.vw_collect 


@using (Html.BeginForm()) {

    @Html.AntiForgeryToken()    
    @Html.ValidationSummary(true)

    @Html.Partial("_ProcessBtn")

    <fieldset>
        <div class="container-fluid table-edit" >

            <div class="row">
                <div class="col-sm-3 col-sm-text-right">Payment Run</div>
                <div class="col-sm-3"> 
                    @Html.DropDownList("ws_string0", new SelectList(@ViewBag.update as SelectList, "Value", "Text", @Model.ws_string0), "",new { id = "select_period", @class = "form-control mypadding " })
                </div>    
            </div>    

            <div class="row">
                <div class="col-sm-3 col-sm-text-right">Payroll Period</div>
                <div class="col-sm-2"> 
                    <select class = "form-control mypadding " id="period_from_mm" name="ws_string2" ><option></option></select>
                </div><div class="col-sm-1">
                    @Html.DropDownList("ws_string3", new SelectList(@ViewBag.pyear as SelectList, "Value", "Text", @Model.ws_string3), new { id = "period_from_yy" , @class = "form-control mypadding " })
                </div>
            </div>    
            <div class="row">
                <div class="col-sm-3 col-sm-text-right">Accounting File Layout</div>
                <div class="col-sm-3">
                    @Html.DropDownList("ws_string4", ViewBag.layout as SelectList,new { @class = "form-control mypadding " })
                    @Html.ValidationMessageFor(model => model.ws_string4)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-sm-text-right">Accounting System Period </div>
                <div class="col-sm-2"> 
                    @Html.DropDownList("ws_string6", ViewBag.pmonth2 as SelectList ,new { @class = "form-control mypadding " })
                </div><div class="col-sm-1">
                    @Html.DropDownList("ws_string7", ViewBag.pyear2 as SelectList,new { @class = "form-control mypadding " } )
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-sm-text-right">Create File Name</div>
                <div class="col-sm-3"> 
                    @Html.TextBox("ws_string8","", new { @maxlength = "40" , @class = "form-control mypadding " })
                </div>
             </div>
            
        </div>

        @Html.HiddenFor(model => Model.ws_string9)
    </fieldset>
}

<div id="loading">
    <div id="loadingcontent">
        <p id="loadingspinner">
            Pls wait...
        </p>
    </div>
</div>

<div id="loader1b" data-request-dailyb="@Url.Action("DailyListb","scriptcall")"></div>

@section Scripts {


<script>


 
</script>
}