@model  CittaErp.Models.vw_genlay

        <div>
    <div class="form-group">
        <label for="TermCode" class="col-sm-4 control-label">Approval Group ID</label>
        <div class="col-sm-4">
            @Html.TextBoxFor(m => m.vwstring0, ViewBag.action_flag == "Create" ? (object)new { @class = "form-control", @maxlength = 10 } : new { @disabled = "disabled" })
            @Html.ValidationMessageFor(m => m.vwstring0)
        </div>
    </div>

    <div class="form-group">
        <label for="Description" class="col-sm-4 control-label">Description</label>
        <div class="col-sm-4">
            @Html.TextBoxFor(m => m.vwstring1, new { @class = "form-control", @maxlength = 50 })
        </div>
    </div>
    <div class="form-group">
        <label for="DateTo" class="col-sm-4 control-label">Group Member</label>
        <div class="col-sm-4">
            @Html.DropDownListFor(m => m.vwstring2, ViewBag.group as SelectList, "Select Members", new { @class = "form-control", @maxlength = 10 })
        </div>
    </div>
    <div class="form-group">
        <label for="NumberDays" class="col-sm-4 control-label">Transaction Minimuim Amount</label>
        <div class="col-sm-4">
            @Html.TextBoxFor(m => m.vwdecimal0, new { @class = "form-control numformat" })
        </div>
    </div>
    <div class="form-group">
        <label for="Note" class="col-sm-4 control-label"> Note</label>
        <div class="col-sm-4">
            @Html.TextAreaFor(m => m.vwstring3, new { @class = "form-control", rows = "6" })
        </div>
    </div>
            <div class="row form-group">
                <label class="col-sm-5 control-label">Inactive</label>
                <div class="col-sm-6 mycheckq">
                    @Html.CheckBoxFor(model => Model.vwbool0, new { @id = "activate_yesno" })
                    <label for="activate_yesno">
                        @( Model.vwbool0 ? "On" : "Off")
                    </label>
                </div>
            </div>
    <div class="form-group">
        <label class="col-sm-5 control-label">Documents</label>
        <div class="col-sm-7">
            <input type="file" name="photofile" multiple />
        </div>
    </div>

            @Html.Partial("_attachDoc")

</div>

