@model  CittaErp.Models.vw_genlay

        <div>
            <div class="row form-group" >
                <label for="TermCode" class="col-sm-3 control-label">Payment Term ID</label>
                <div class="col-sm-2">
                    @Html.TextBoxFor(m => m.vwstring0, ViewBag.action_flag == "Create" ? (object)new { @class = "form-control", @maxlength = 10 } : new { @disabled = "disabled" })
                    @Html.ValidationMessageFor(m => m.vwstring0)
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-5 control-label">Description</label>
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.vwstring1, new { @class = "form-control", @maxlength=50})
                </div>
            </div>
            <div class="row form-group" >
                <label for="NumberDays" class="col-sm-5 control-label">Number of Days</label>
                <div class="col-sm-1">
                    @Html.TextBoxFor(m => m.vwint0, new { @class = "form-control",  maxlength = 4 })
                </div>
            </div>
            <div class=" row form-group" >
                <label for="Note" class="col-sm-5 control-label"> Note</label>
                <div class="col-sm-5">
                    @Html.TextAreaFor(m => m.vwstring2, new { @class = "form-control", rows = "6" })
                </div>
            </div>
            <div class="row form-group">
                <label class="col-sm-5 control-label">Inactive</label>
                <div class="col-sm-6 mycheckq">
                    @Html.CheckBoxFor(model => Model.vwbool0, new { @id = "activate_yesno" })
                    <label for="activate_yesno">
                        @( Model.vwbool0 ? "On" : "Off")
                    </label>
                </div>
            </div>

            @*<div class="row form-group" >
                <label class="control-label col-sm-2">Want Fixed Asset?</label>
                <div class="col-sm-9 myradio">
                    <label class="radio-inline">
                        @Html.RadioButtonFor(m => m.vwdecimal2, 1, new { @class = "myradio", @id = "yes" }) Yes
                    </label>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <label class="radio-inline">
                        @Html.RadioButtonFor(m => m.vwdecimal2, 0, new { @class = "myradio", @id = "no" }) No
                    </label>
                </div>
                @Html.HiddenFor(m => m.vwdecimal2, new { id = "asset" })
            </div>*@

        </div>
