<!DOCTYPE html>
@{
    int val = Convert.ToInt32(ViewData["imageID"]);
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<meta http-equiv="refresh" content="0180; URL= ~/Log_in/Index">*@
    <title>@ViewBag.Title - Cittaerp</title>

    @Scripts.Render("~/bundles/jquerybundle")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/datatables/bundles/cssbundle")


</head>
<body>
    <div class="navbar">
        <div class="row">

            <div align="left" class="col-sm-2">
                <a href="@Url.Action("Home", "Log_in")" title="List View" class="links">
                    <img src="@Url.Action( "Show", "Log_in", new { id = @val })" width="140" height="50" id="logo" />
                </a>
            </div>

            <div align="right" class="col-sm-10">
                <a href="@Url.Action("Home", "Log_in")" title="List View" class="links">
                    <img src="~/image/citta.png" width="140" height="50" id="logo" />
                </a>
            </div>

        </div>
       @* @RenderBody()*@

        <div class="container-fluid">
            </div>
        @RenderBody()
    </div>
    @*<div class="container body-content">
        @RenderBody()

    </div>*@

    @Scripts.Render("~/bundles/jsuserbundle")
    @Scripts.Render("~/dataTables/bundles/js1bundle")

    @RenderSection("scripts", required: false)
</body>
</html>
